{% extends 'layouts/base.html' %}
{% block title %} Dashboard {% endblock %}


{% block content %}

 &nbsp; &nbsp;

<div class="container card">
    <div class="card-header"> <h5> Change Schema Password </h5> </div>
    <form action="" method="post" class="card-body">
        <div class="mb-3">
            <label for="schemaname" class="form-label">Schema Name</label>
            <input type="text" class="form-control" id="schemaname" name="schema_name" 
            aria-describedby="schemaName" value = {{ name }} readonly>
            <div id="schemaHelp" class="form-text">Enter a new Oracle schema/username</div>
        </div>
        <div class="mb-3">
            <label for="schemapass" class="form-label">New Schema Password</label>
            <input type="password" class="form-control" id="schemapass" name="schema_pass">
        </div>
        <div class="mb-3">
            <label for="schema_pass_conf" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="schema_pass_conf">
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
        <p id="error"></p>
    </form>
</div>

{% endblock %}
